docs/n8n/anaga-lead-loop.workflow.json
{
  "name": "Anaga — Lead → Call → Log",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "anaga-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Lead In (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "f1", "name": "name", "value": "={{ $json.body.name || $json.body.full_name || $json.body.fullName || '' }}", "type": "string" },
            { "id": "f2", "name": "phone", "value": "={{ $json.body.phone || $json.body.phone_number || $json.body.mobile || '' }}", "type": "string" },
            { "id": "f3", "name": "source", "value": "={{ $json.body.source || 'web' }}", "type": "string" },
            { "id": "f4", "name": "direction", "value": "={{ $json.body.direction || 'outbound' }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Normalize Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [
            { "id": "p1", "leftValue": "={{ $json.phone }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Has phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR-APP.vercel.app/api/calls/outbound",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_CALL_TRIGGER_SECRET" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.phone, name: $json.name, notify: '' }) }}",
        "options": {}
      },
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Trigger Anaga Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 220]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ts": "={{ $now.toISO() }}",
            "name": "={{ $('Normalize Lead').item.json.name }}",
            "phone": "={{ $('Normalize Lead').item.json.phone }}",
            "callType": "={{ $('Normalize Lead').item.json.direction }}",
            "disposition": "queued",
            "source": "={{ $('Normalize Lead').item.json.source }}",
            "callId": "={{ $json.id }}"
          }
        },
        "options": {}
      },
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "Log Lead (Sheet)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1140, 220],
      "credentials": { "googleSheetsOAuth2Api": { "id": "REPLACE_ME", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, queued: true, to: $('Normalize Lead').item.json.phone }) }}",
        "options": {}
      },
      "id": "66666666-6666-4666-8666-666666666666",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1360, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: 'missing phone number' }) }}",
        "options": { "responseCode": 400 }
      },
      "id": "77777777-7777-4777-8777-777777777777",
      "name": "Respond No Phone",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 460]
    }
  ],
  "connections": {
    "Lead In (Webhook)": { "main": [[{ "node": "Normalize Lead", "type": "main", "index": 0 }]] },
    "Normalize Lead": { "main": [[{ "node": "Has phone?", "type": "main", "index": 0 }]] },
    "Has phone?": {
      "main": [
        [{ "node": "Trigger Anaga Call", "type": "main", "index": 0 }],
        [{ "node": "Respond No Phone", "type": "main", "index": 0 }]
      ]
    },
    "Trigger Anaga Call": { "main": [[{ "node": "Log Lead (Sheet)", "type": "main", "index": 0 }]] },
    "Log Lead (Sheet)": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
